.card {
	width: 250px;
	height: 300px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	margin: 10px;
}

.card-icon {
	height: 150px;
	background-color: #222;
	display: flex;
}

.card-body {
	text-align: left;
	padding: 10px;
}

.card-title {
	padding: 5px;
}

.card-description {
	padding: 5px;
}

.tech-logo {
	width: 200px;
	height: 140px;
	margin: auto;
}

@media (max-width: 640px) {
	.card {
		width: 90%;
	}
}