.sidecard {
	width: 790px;
	margin: 10px;
	display: flex;
}

.sidecard-icon {
	width: 200px;
	height: 200px;
	display: flex;
}

.img-allan {
	margin: auto;
	border-radius: 100px;
	width: 90%;
	height: 90%;
}

.sidecard-body {
	text-align: left;
	padding: 10px;
	width: 580px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
}

.sidecard-title {
	padding: 5px;
	font-size: 25px;
}

.sidecard-description {
	padding: 5px;
}

@media (max-width: 640px) {
	.sidecard-title {
		text-align: center;
	}
	
	.card {
		width: 90%;
	}

	.sidecard {
		width: 90%;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media (max-width: 840px) and (min-width: 641px) {
	.sidecard-title {
		text-align: center;
	}
	.sidecard {
		width: 540px;
		flex-wrap: wrap;
		justify-content: center;
	}
}